/*!
 * Aggro website v1.0.0
*/

/*@media only screen and (orientation:portrait) {*/
/*  /* --- #container --- */*/
/*  #container{width:640px;margin:0 auto;}*/
/*  */
/*  /* --- #feed-items --- */*/
/*  #feed-items{background:#ffff00;}*/
/*}*/

/*@media only screen and (orientation:landscape) {*/
/*  /* --- #container --- */*/
/*  #container{width:960px;margin:0 auto;}*/
/*  */
/*  /* --- #feed-items --- */*/
/*  #feed-items{background:#fff;}*/
/*}*/

